<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body>
<!--HOME-TOP--> 



    <section ng-app="app1" ng-controller="ctrl1">

    		<button id="loginbtn" href="##">Login/SignUp!</button>

    		<div id="modal" class="modal">
    			<div class="modal-content">
    				<span id="close" class="close">x</span>
    				<p>Hello World!</p>
    			</div>
    				
    		</div>
	    <button ng-click='coffeeClick()'>COFFEE</button>
	    <button ng-click='coffeeClick()'>TEA</button>

	    	

    </section>

<!--HOME-LOCATE-->
    <section>
    	<p>Location</p>
    	<img src="#">
    	
    </section>

<!--HOME-REVIEWS-->
    <section>
    	<p>Customer Reviews</p>
    </section>

<!--SCRIPT-->    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="java.js"></script>
	<script type="text/javascript" src="app.js"></script>

  </body>
</html>





 

 abcdefghij